body {
  font-family: 'Roboto', sans-serif;
  background-color: #e42121;
  color: #e42121;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  color: #785ebb;
}

.form-label {
  color: #343a40;
}

.form-control {
  background-color: #e9e8f1;
  border: 1px solid #0d6efd;
  color: #4a0bf5;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
}

.text-danger {
  color: #fa0a0a; 
}
