body {
  font-family: 'Roboto', sans-serif;
 background-color: #e42121;
  color: #e42121; /* Nuevo color para el texto principal */
}

.navbar {
  background-color: #1a1a1a; /* Fondo negro para la barra de navegación */
}

h2 {
  font-family: 'Work Sans', sans-serif;
  color: #785ebb; /* Nuevo color para el título */
}

.card {
  background-color: #e9e8f1; /* Fondo blanco para las tarjetas */
  border: 1px solid #0d6efd; /* Borde azul oscuro */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto más marcado */
}

.card-title {
  font-weight: bold;
  color: #343a40; /* Texto oscuro para resaltar en la tarjeta */
}

.card-text {
  color: #4a0bf5; /* Texto en gris oscuro */
}

.card-link {
  color: #0d6efd; /* Azul oscuro para los enlaces */
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}

.text-muted {
  color: #bdadae !important; /* Gris más claro para texto secundario */
}
