<nav class="navbar bg-dark">
  <div class="container d-flex justify-content-end">
    <app-logout></app-logout>
  </div>
</nav>

<h2 class="text-center text-primary my-4">Posteos de {{user}}</h2>

<div class="card m-3" *ngFor="let post of posts">
  <div class="card-body">
    <p class="text-muted">UserID: {{post.userId}} - ID: {{post.id}}</p>
    <h5 class="card-title text-dark">{{post.title}}</h5>
    <p class="card-text">{{post.body}}</p>
    <a [routerLink]="['/comments', post.id]" class="card-link text-primary">Comments</a>
  </div>
</div>
